body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #54B6FD, #2431BC);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  overflow: hidden;
}

/* Container Box */
.container {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 50%;
  max-width: 500px;
  text-align: center;
  padding: 30px 25px;
  animation: fadeIn 0.7s ease forwards;
}

/* Judul Besar */
.container h2 {
  color: #2431BC;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

/* Tombol Group */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

/* Tombol */
.btn {
  position: relative;
  background: linear-gradient(to right, #54B6FD, #2431BC);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(30deg);
  transition: all 0.6s ease;
}

.btn:hover::before {
  left: 120%;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(84, 182, 253, 0.6);
}

/* Footer */
footer {
  font-size: 13px;
  color: #888;
}

/* Animasi Fade In Container */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Overlay transisi antar halaman */
.page-transition {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #54b7fd, #2431bc);
  border-right: 20px solid white;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.486);
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

.page-transition.active {
  left: 0;
  background: linear-gradient(to bottom right, #54B6FD, #2431bc);
}
